* text=auto
*.cs            diff=csharp
*.java          text
*.js            text
*.json          text
*.properties    text
*.sh            text
*.txt           text
*.class         binary
*.dll           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary

